{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Inicio Sesion</title>
    <link rel="stylesheet" href="{% static 'css/stylesLogin.css' %}">
    <style>
        html {
            background-image: url("{% static 'images/fondo.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
    <button onclick="goBack()" class="back-button">Volver</button>
    <div class="login-wrapper">
        <form id="login-form" class="form" method="post" action="{% url 'erp:login' %}">
            {% csrf_token %}
            <h2>Inicio de Sesión</h2>
            <div class="input-group">
                <input type="text" name="email" id="loginUser" required>
                <label for="loginUser">E-mail</label>
            </div>
            <div class="input-group">
                <input type="password" name="password" id="loginpassword" required>
                <label for="loginpassword">Contraseña</label>
            </div>
            <input type="submit" value="Acceder" class="submit-button">
            <a href="#" class="forgot">¿Olvidaste tu contraseña?</a>
        </form>
        <script src="{% static 'js/scriptLogin.js' %}"></script>  
    </div>
    
    
    
    <!--Retroceder-->
    <script>
        function goBack() {
            history.back();
        }
    </script>
    <script src="https://www.gstatic.com/firebasejs/8.8.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.0/firebase-auth.js"></script>
    <script src="{% static 'firebase-config.json' %}"></script>
</body>
</html>